@font-face {
    font-family: 'SubhaSandhya';
    src: URL('../fonts/SubhaSandhya.ttf') format('truetype');
}

* {
    font-family: 'SubhaSandhya';
}

.bg-light {
    background-color: #ff5c8d !important;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 25px;
    line-height: inherit;
    white-space: nowrap;
}